<!DOCTYPE html>
<html lang="fr">
<head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
   <title>{% block title %}Mon blog sur les crêpes bretonnes{% endblock %}</title>
</head>
<body>
<header>Crêpes bretonnes</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/blog/home"><span>home</span></a></li>
            <li><a href="/blog/"><span>acceuil</span></a></li>
            <li><a href="/blog/page"><span>page</span></a></li>
            <li><a href="/blog/date"><span>date</span></a></li>
            <a href="{% url "afficher_article" 42 %}"><span>Lien vers mon super article N° 42</span></a>
            <li><a href="/blog/date"><span>date</span></a></li>
       </ul>
       {% endblock %}
   </nav>
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; Crêpes bretonnes</footer>
</body>
</html>
